<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <title>Hello, world!</title>
</head>

<body>
    <div class="container">
        <form action="/" method="post" id="contactForm">
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Name</label>
                <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                    name="name">
                <p class="text-danger">
                    <%=errors.name%>
                </p>
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Phone</label>
                <input type="number" class="form-control" id="exampleInputPassword1" name="phone">
                <p class="text-danger">
                    <%=errors.phone%>
                </p>
            </div>
            <input type="text" class="form-control d-none" id="exampleInputPassword1" name="id">
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Email</label>
                <input type="email" class="form-control" id="exampleInputPassword1" name="email">
                <p class="text-danger">
                    <%=errors.email%>
                </p>
            </div>
            <button name="button" type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
    <hr>
    <div class="container">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Phone</th>
                    <th scope="col">Email</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                <% for(contact of contacts){ %>
                    <tr>
                        <th scope="row">
                            <%= contact.name%>
                        </th>
                        <td>
                            <%=contact.phone %>
                        </td>
                        <td>
                            <%=contact.email%>
                        </td>
                        <td>
                            <button class="btn btn-primary edit-btn" data-name="<%=contact.name%>"
                                data-email="<%=contact.email%>" data-phone="<%=contact.phone%>"
                                data-id="<%=contact._id%>">Edit</button>
                            <a href="/deleteContact/<%=contact._id%> " class="btn btn-danger">Delete</a>
                        </td>
                    </tr>
                    <%} %>

            </tbody>
        </table>
    </div>

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <script>
        window.onload = () => {
            let btns = document.getElementsByClassName("edit-btn");
            [...btns].forEach(btn => {
                btn.addEventListener("click", (e) => {
                    const contact__form = document.getElementById("contactForm")
                    const { name, email, phone, id } = e.target.dataset
                    contact__form["name"].value = name
                    contact__form["email"].value = email
                    contact__form["phone"].value = phone
                    contact__form["id"].value = id
                    contact__form["button"].innerText = "Update"
                })
            })

        }

    </script>
</body>

</html>